{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
    <link href="{% static 'favicon/favicon.ico' %}" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap" rel="stylesheet">
    <title>Gleiche Foundation</title>

</head>

<body>

    <div class="upper-bar"
        style="background-image: linear-gradient(to right, #4B0082 , #8005d8); height: 34px;width: 100%;">

    </div>

    <div style="display:flex;justify-content: center; align-items: center">
        <img style="width: 100px; height: 100px; margin: auto;" src="https://gleichefoundation.org/public/img/logo.jpg"
            alt="">
    </div>

    <h4
        style="margin-left: 25px; font-size:25px;font-family: 'Poppins', sans-serif !important; width:450px; word-wrap:break-word; text-decoration: none !important;">
        <span style="text-decoration:none !important; color: #4B0082 !important;">{{ fullname }}</span> wants to be a volunteer</h4>
    <br>

    <h5
        style="margin:0; padding: 0; margin-left: 25px; font-size:21px; font-family: 'Poppins', sans-serif !important; font-weight: normal !important;">
        Below are the responses on the questions asked.

    </h5>
    <br>

    <h5
    style="margin:0; padding: 0; margin-left: 25px; font-size:21px; font-family: 'Poppins', sans-serif !important; font-weight: normal !important;">
    <b>Email</b>:
    <span
        style="text-decoration:none !important; color: #4B0082 !important; font-weight: bold !important;">{{email}}</span>.
    
    </h5>

    <h5
    style="margin:0; padding: 0; margin-left: 25px; font-size:21px; font-family: 'Poppins', sans-serif !important; font-weight: normal !important;">
    <b>Phone</b>:
    <span
        style="text-decoration:none !important; color: #4B0082 !important; font-weight: bold !important;">{{phone}}</span>.
    
    </h5>

    <h5
        style="margin:0; padding: 0; margin-left: 25px; font-size:21px; font-family: 'Poppins', sans-serif !important; font-weight: normal !important;">
        <b>Address</b>:
        <span
            style="text-decoration:none !important; color: #4B0082 !important; font-weight: bold !important;">{{address}}</span>.
        
    </h5>


    <h5
    style="margin:0; padding: 0; margin-left: 25px; font-size:21px; font-family: 'Poppins', sans-serif !important; font-weight: normal !important;">
        <b>How did you learn about our foundation?</b>:
        <span
            style="text-decoration:none !important; color: #4B0082 !important; font-weight: bold !important;">{{about_gleiche}}</span>.
        
    </h5>

    <h5
    style="margin:0; padding: 0; margin-left: 25px; font-size:21px; font-family: 'Poppins', sans-serif !important; font-weight: normal !important;">
        <b>What interest you about our foundation?</b>:
        <span
            style="text-decoration:none !important; color: #4B0082 !important; font-weight: bold !important;">{{interest_about_gleiche}}</span>.
        
    </h5>

    <h5
    style="margin:0; padding: 0; margin-left: 25px; font-size:21px; font-family: 'Poppins', sans-serif !important; font-weight: normal !important;">
        <b>How do you think you can help Gleiche Foundation grow?</b>:
        <span
            style="text-decoration:none !important; color: #4B0082 !important; font-weight: bold !important;">{{help_gleiche}}</span>.
        
    </h5>

    <h5
    style="margin:0; padding: 0; margin-left: 25px; font-size:21px; font-family: 'Poppins', sans-serif !important; font-weight: normal !important;">
        <b>How do you think you can impact the lives of the needy and underprivileged ?</b>:
        <span
            style="text-decoration:none !important; color: #4B0082 !important; font-weight: bold !important;">{{impact_gleiche}}</span>.
        
    </h5>

    <h5
    style="margin:0; padding: 0; margin-left: 25px; font-size:21px; font-family: 'Poppins', sans-serif !important; font-weight: normal !important;">
        <b>Do you have any skills that you think might be particularly userful to the foundation? (if yes, state it) ?</b>:
        <span
            style="text-decoration:none !important; color: #4B0082 !important; font-weight: bold !important;">{{particular_skill}}</span>.
        
    </h5>

    <h5
    style="margin:0; padding: 0; margin-left: 25px; font-size:21px; font-family: 'Poppins', sans-serif !important; font-weight: normal !important;">
        <b>Anything else we should know about you ?</b>:
        <span
            style="text-decoration:none !important; color: #4B0082 !important; font-weight: bold !important;">{{anything_else}}</span>.
        
    </h5>

    <h5
    style="margin:0; padding: 0; margin-left: 25px; font-size:21px; font-family: 'Poppins', sans-serif !important; font-weight: normal !important;">
        <b>Give a brief autobiography about yourself</b>:
        <span
            style="text-decoration:none !important; color: #4B0082 !important; font-weight: bold !important;">{{autobiography}}</span>.
        
    </h5>


    <br>
    <br>
    <br>
    <div class="made-by" style="display: flex;">
        <span style="display:inline;">
            <h5
                style="margin:0; padding: 0; margin-left: 25px;  font-size:21px; font-family: 'Poppins', sans-serif !important; color: #808080 !important;">
                Gleiche Support Team
        </span>

    </div>
    <br>
    <span>
        <h5
            style="margin:0; padding: 0; margin-left: 25px; font-size:21px; font-family: 'Poppins', sans-serif !important; color: #808080 !important; font-weight: normal !important;">
            © 2022 Gleiche Foundation. All Rights Reserved.</h5>
    </span>

    <br>
    <br>

    <div class="upper-bar"
        style="background-image: linear-gradient(to right, #4B0082 , #8005d8); height: 34px;width: 100%;">

    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>