
{% extends 'frontend/main.html' %}
{% load static %}

{% block header %}
<!-- Iodine js for form validation -->
<script src="https://cdn.jsdelivr.net/gh/mattkingshott/iodine/dist/iodine.min.js" defer></script>
{% endblock %}

{% block title %}
Contact Us
{% endblock %}

{% block content %}

{% include 'frontend/includes/page_banner.html' with text="Contact Us" %}

<div class="bg-gray-200">
    <div class="container py-6 md:py-12 flex flex-col gap-4 ">
    
        <div class="py-12">
            <div class="h-screen bg-white">
                
                
            </div>
        </div>
        
    </div>
</div>

{% include 'frontend/includes/contact_form.html' %}


{% endblock %}

