{% extends 'frontend/main.html' %}
{% load static %}

{% block title %}
Donation
{% endblock %}

{% block content %}

{% include 'frontend/includes/page_banner.html' with text="Make a Donation" %}

<div class="container py-6 md:py-12 flex flex-col gap-4">
    <div class="flex flex-col items-center gap-3">
        <span class="font-patrick-hand text-3xl md:text-4xl lg:text-5xl">Choose Donation Payment Method</span>
        <div class="w-24 h-1 bg-primary rounded-md"></div>
    </div>
    <div class="py-12 flex gap-4">
        <div>
            <a href="{% url 'mobile_money_donation' %}">
                <img src="{% static 'assets/mtn_orange_money.jpeg' %}" alt="">
            </a>

        </div>

        <div>
            <a href="{% url 'paypal_donation' %}">
                <img src="{% static 'assets/paypal+card.png' %}" alt="">
            </a>

        </div>
    </div>
</div>

{% endblock %}