{% extends 'frontend/main.html' %}

{% block title %}
    Home
{% endblock %}

{% block content %}

    {% include 'frontend/includes/header.html' %}
    {% include 'frontend/includes/hero.html' %}
    {% include 'frontend/includes/whoweare.html' %}
    {% include 'frontend/includes/whatwedo.html' %}
    {% include 'frontend/includes/donation_banner.html' %}
    {% include 'frontend/includes/volunteers.html' %}
    {% include 'frontend/includes/testimonial.html' %}
    {% include 'frontend/includes/news_blog.html' %}
    {% include 'frontend/includes/contact_form.html' %}
    {% include 'frontend/includes/footer.html' %}


{% endblock %}