{% extends 'frontend/main.html' %}

{% load static %}


{% block content %}

{% include 'frontend/includes/page_banner.html' with text=news_blog.title  %}

<div class="bg-gray-200">
    <div class="container py-6 md:py-12 flex flex-col gap-4">

        <div class="py-12">
            <div class="min-h-screen bg-white">
                {% autoescape off %}
                {{news_blog.content}}
                {% endautoescape %}

            </div>
        </div>
    </div>
</div>

{% endblock %}