{% extends 'frontend/main.html' %}
{% load static %}

{% block title %}
Volunteers
{% endblock %}

{% block content %}

<div class="container py-6 md:py-12 flex flex-col gap-4">
    <div class="flex flex-col items-center gap-3">
        <span class="font-patrick-hand text-3xl md:text-4xl lg:text-5xl">Our Volunteers</span>
        <div class="w-24 h-1 bg-primary rounded-md"></div>
    </div>
    <div class="py-12">
        <!-- {{ forloop.counter }} -->

        <div class="w-full flex flex-wrap">
            {% for item in volunteers %}
            <div class="w-6/12 md:w-4/12 lg:w-3/12 px-0 lg:px-3">
                {% include 'frontend/components/volunteer_card.html' with item=item  %}
            </div>
            {% endfor %}

        </div>
    </div>
</div>

{% endblock %}