{% extends 'backend/main.html' %}

{% block title %}
Dashboard
{% endblock %}


{% block main %}
<div class="flex justify-between">
   {% include 'backend/includes/page_header.html' with title='Dashboard' %}

   <div>
      Button
   </div>
</div>

<div class="mt-4 w-full grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-4">
   {% include 'backend/components/dashboard_info_card.html' with value=total_volunteers title='Total Volunteer' %}
   {% include 'backend/components/dashboard_info_card.html' with value=total_news_blog title='Total News&Blog' %}
   {% include 'backend/components/dashboard_info_card.html' with value=total_executives title='Total Executives' %}
   {% include 'backend/components/dashboard_info_card.html' with value=total_slides title='Total Slides' %}
   {% include 'backend/components/dashboard_info_card.html' with value=total_sponsors title='Total Sponsors' %}



</div>


{% endblock %}