{% extends 'backend/main.html' %}

{% block header %}
<!-- Iodine js for form validation -->
<script src="https://cdn.jsdelivr.net/gh/mattkingshott/iodine/dist/iodine.min.js" defer></script>
<script src="https://cdn.tiny.cloud/1/d4yumsjfq9wmx775lmlaitd41csmmwmjf8nj4n4yf6dw8ul2/tinymce/6/tinymce.min.js"
    referrerpolicy="origin"></script>

<!-- cropper js -->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.11/cropper.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.11/cropper.js"></script>
{% endblock %}

{% block main %}


<div class="flex justify-between">
    {% include 'backend/includes/page_header.html' with title='Add News&Blog' %}

    <div>
        {% url 'dashboard' as action_url %}
        {% include 'backend/components/link_button.html' with text="Back" link=action_url %}
    </div>
</div>

<div class=" mt-5">
    <div class="flex flex-col justify-center items-center ">

        <div class="w-full">
            <div class="md:w-10/12 lg:w-9/12 mx-auto sm:p-6">
                <form action="{% url 'add_news_blog' %}" enctype="multipart/form-data" id="contact_form"
                    x-ref="contact_form" x-data="contact_form" @submit.prevent="submit" method="POST">
                    {% csrf_token %}
                    <div class="w-full grid grid-cols-8 gap-4 p-4">


                        <div class="col-span-8">
                            <label for="title" class="block text-sm font-medium text-gray-700">Title</label>
                            <input type="text" name="title" id="title" autocomplete="family-name"
                                class="mt-1 focus:border-primary block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"
                                :class="{'border-red-600':fields.title.isValid == false}" x-model="fields.title.value"
                                @blur="fields.title.validate(validationCallback)"
                                @input="fields.title.validate(validationCallback)">

                            <p class="text-red-500 text-xs italic py-2" x-show="fields.title.isValid == false">
                                <span x-text="fields.title.errorMsg"></span>
                            </p>
                        </div>
                        <!-- TinyMCE -->
                        <div class="col-span-8 ">
                            <label for="about" class="block text-sm font-medium text-gray-700"> Content </label>
                            <div class="mt-1">

                                <textarea id="basic-example" name="content">
                                    {% autoescape off %}
                                    {{form.content.value}}
                                    {% endautoescape %}   
                                </textarea>



                            </div>
                            <p class="text-red-500 text-xs italic py-2" x-show="fields.content.isValid == false">
                                <span x-text="fields.content.errorMsg"></span>
                            </p>
                        </div>

                        <div class="col-span-8 ">
                            <label for="user_comment" class="block text-sm font-medium text-gray-700"> Gleiche Comment </label>
                            <div class="mt-1">
                                <textarea id="user_comment" name="user_comment" rows="3"
                                    class="shadow-sm focus:border-primary mt-1 block w-full sm:text-sm border border-gray-300 rounded-md"
                                    placeholder="Write your comment here"
                                    :class="{'border-red-600':fields.comment.isValid == false}"
                                    x-model="fields.comment.value" @blur="fields.comment.validate(validationCallback)"
                                    @input="fields.comment.validate(validationCallback)">

                                {{form.user_comment.value}}
                                </textarea>
                            </div>
                            <p class="text-red-500 text-xs italic py-2" x-show="fields.comment.isValid == false">
                                <span x-text="fields.comment.errorMsg"></span>
                            </p>
                        </div>

                        <div class="col-span-8">
                            <label for="id_image">Image</label><br>
                            <input type="file" id="id_image" name="image" accept="image/*"><br>

                            <div class="form-group">
                                <div id="image-box" class="image-container"></div>
                                <button class=" px-4 py-1.5 bg-primary hover:bg-primary-200 hover:shadow-2xl transition-all rounded-md text-white text-sm"  id="crop-btn"
                                    style="width: 100%; margin-top: 10px; display: none;" type="button">Crop</button>
                            </div>

                        </div>

                    </div>
                    <div class="px-4 py-3 bg-gray-50 text-right sm:px-6 flex justify-center">
                        <button type="submit"
                            class="inline-block px-4 py-1.5 bg-primary hover:bg-primary-200 hover:shadow-2xl transition-all rounded-md text-white text-sm" id="confirm-btn">Submit</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="hidden sm:block" aria-hidden="true">
            <div class="py-5">
                <div class="border-t border-gray-200">
                    {{form.errors}}
                </div>
            </div>
        </div>


    </div>




</div>


{% endblock %}

{% block jsScripts %}
<script>

    // tinymce.init({
    //     selector: '#editor',
    //     toolbar: 'undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | ' +
    //         'bullist numlist outdent indent | link image | print preview media fullpage | ' +
    //         'forecolor backcolor emoticons | help',
    //     plugins: [
    //         'advlist autolink link image lists charmap print preview hr anchor pagebreak',
    //         'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking',
    //         'table emoticons template paste help'
    //     ],
    //     convert_urls: false
    // });

    // Tiny McE
    tinymce.init({
        selector: 'textarea#basic-example',
        height: 500,
        plugins: [
            'advlist', 'autolink', 'lists', 'link', 'image', 'charmap', 'preview',
            'anchor', 'searchreplace', 'visualblocks', 'code', 'fullscreen',
            'insertdatetime', 'media', 'table', 'editimage', 'wordcount'
        ],
        toolbar: 'undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | ' +
            'bullist numlist outdent indent | link image | print preview media fullpage | ' +
            'forecolor backcolor emoticons | help',
        menubar: 'file edit insert view format table tools help',
        content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:14px }'
    });


    document.addEventListener('alpine:init', () => {
        Alpine.data('contact_form', () => ({
            fields: {
                title: {
                    value: '{{form.title.value}}',
                    rules: ["required"],
                    isValid: null,
                    errorMsg: null,
                    validate(callback) {
                        let { isValid, errorMsg } = callback(this);
                        this.isValid = isValid;
                        this.errorMsg = errorMsg;
                    },
                },
                // content: {
                //     value: '',
                //     rules: ["required"],
                //     isValid: null,
                //     errorMsg: null,
                //     validate(callback) {
                //         let { isValid, errorMsg } = callback(this);
                //         this.isValid = isValid;
                //         this.errorMsg = errorMsg;
                //     },
                // },

                comment: {
                    value: '{{form.user_comment.value}}',
                    rules: ['optional'],
                    isValid: null,
                    errorMsg: null,
                    validate(callback) {
                        let { isValid, errorMsg } = callback(this);
                        this.isValid = isValid;
                        this.errorMsg = errorMsg;
                    },
                },

            },
            isFormValid: true,
            validationCallback(field) {
                let { value, rules } = field;
                let isValid = Iodine.isValid(value, rules);
                let errorMsg = isValid
                    ? null
                    : Iodine.getErrorMessage(Iodine.is(value, rules));
                return { isValid, errorMsg };
            },
            submit() {
                this.isFormValid = !Object.values(this.fields).some(
                    (field) => !field.isValid
                );

                if (!this.isFormValid) {
                    !Object.values(this.fields).forEach(field => {
                        field.validate(this.validationCallback)
                    });
                } else {
                    this.$refs.contact_form.submit()
                }

            }
        }))
    })
</script>


<script>
    // image-box is the id of the div element that will store our cropping image preview
    const imagebox = document.getElementById('image-box')
    // crop-btn is the id of button that will trigger the event of change original file with cropped file.
    const crop_btn = document.getElementById('crop-btn')
    // id_image is the id of the input tag where we will upload the image
    const input = document.getElementById('id_image')

    // When user uploads the image this event will get triggered
    input.addEventListener('change', () => {
        // Getting image file object from the input variable
        const img_data = input.files[0]
        // createObjectURL() static method creates a DOMString containing a URL representing the object given in the parameter.
        // The new object URL represents the specified File object or Blob object.
        const url = URL.createObjectURL(img_data)

        // Creating a image tag inside imagebox which will hold the cropping view image(uploaded file) to it using the url created before.
        imagebox.innerHTML = `<img src="${url}" id="image" style="width:100%;">`

        // Storing that cropping view image in a variable
        const image = document.getElementById('image')

        // Displaying the image box
        document.getElementById('image-box').style.display = 'block'
        // Displaying the Crop buttton
        document.getElementById('crop-btn').style.display = 'block'
        //document.getElementById('crop-btn').classList.toggle('inline-block')
        // Hiding the Post button
        document.getElementById('confirm-btn').classList.toggle('hidden')

        // Creating a croper object with the cropping view image
        // The new Cropper() method will do all the magic and diplay the cropping view and adding cropping functionality on the website
        // For more settings, check out their official documentation at https://github.com/fengyuanchen/cropperjs
        const cropper = new Cropper(image, {
            aspectRatio: 16 / 9,
            viewMode: 1,
            scalable: false,
            zoomable: true,
            movable: false,
            minCropBoxWidth: 200,
            minCropBoxHeight: 200,
        })

        // When crop button is clicked this event will get triggered
        crop_btn.addEventListener('click', () => {
            // This method coverts the selected cropped image on the cropper canvas into a blob object
            cropper.getCroppedCanvas().toBlob((blob) => {

                // Gets the original image data
                let fileInputElement = document.getElementById('id_image');
                // Make a new cropped image file using that blob object, image_data.name will make the new file name same as original image
                let file = new File([blob], img_data.name, { type: "image/*", lastModified: new Date().getTime() });
                // Create a new container
                let container = new DataTransfer();
                // Add the cropped image file to the container
                container.items.add(file);
                // Replace the original image file with the new cropped image file
                fileInputElement.files = container.files;

                // Hide the cropper box
                document.getElementById('image-box').style.display = 'none'
                // Hide the crop button
                document.getElementById('crop-btn').style.display = 'none'
                // Display the Post button
                document.getElementById('confirm-btn').classList.remove('hidden')

            });
        });
    });	
</script>
{% endblock %}