{% load static %}

{% if causes %}
<div class="bg-gray-200   bg-no-repeat bg-cover bg-center bg-fixed relative"
    style="background-image: url('/static/assets/happy2.jpeg')">
    <div class="bg-primary/30 pb-12">
        <div class=" container flex flex-col justify-center items-center ">

            <div class="w-full lg:w-3/6 mx-auto py-6 md:py-12 flex flex-col items-center gap-6">
                <div class="flex flex-col items-center gap-3">
                    <span class="font-patrick-hand text-3xl md:text-4xl lg:text-5xl text-white">Our Causes</span>
                    <div class="w-24 h-1 bg-primary rounded-md"></div>
                </div>
                <p class="text-center text-sm md:text-base lg:text-lg text-white">
                    Donate to one of our causes
            </div>
            {% if causes %}
            <div class="w-full">
                <div class="swiper TestimonialSwiper">
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-pagination"></div>
                    <div class="swiper-wrapper">



                        {% for item in causes %}
                        <div class="swiper-slide">
                            {% include 'frontend/components/cause_item.html' with item=item  %}
                        </div>
                        {% endfor %}

                    </div>
                    <div class="swiper-pagination"></div>
                </div>


            </div>
            <div class="mt-4">
                {% url 'news_blog' as action_url %}
                {% include 'frontend/components/link_button.html' with text="See All" link=action_url %}
            </div>
            {% else %}
            <div class="w-full">
               <div class="flex justify-center">
                <h5 class="text-lg">
                    No Causes available
                </h5>
               </div>
            </div>
            {% endif %}


        </div>
    </div>
</div>
{% endif %}