{% load static %}
<div class="h-96 bg-no-repeat bg-cover bg-center bg-fixed relative"
    style="background-image: url('/static/assets/happy2.jpeg')">
    <div class="absolute inset-0 bg-primary/30 flex flex-col gap-6 items-center justify-center">
        <div class="w-full md:w-6/12">
            <p class="text-white text-center font-patrick-hand text-3xl md:text-4xl lg:text-6xl">The Smallest Act of
                Kindness is Worth More Than the Grandest Intention</p>
        </div>
        <div class="flex gap-2 md:gap-4">
            <a href="#"
                class="inline-block px-4 py-1.5 bg-primary hover:bg-primary-200 hover:shadow-2xl transition-all rounded-md text-white text-sm">
                Donate
            </a>
            <a href="#"
                class="inline-block px-4 py-1.5 bg-secondary hover:bg-secondary-200 hover:shadow-2xl transition-all rounded-md text-white text-sm">
                Become a Volunteer
            </a>
            
        </div>
    </div>
</div>