<div>
    <div class="swiper mySwiper h-96 lg:h-screen ">
        <div class="swiper-button-next text-sm text-secondary"></div>
        <div class="swiper-button-prev text-secondary"></div>
        <div class="swiper-pagination"></div>

        <div>

        </div>
        <div class="swiper-wrapper ">


            {% for item in '012345678'|make_list %}
            <div class="swiper-slide">
                <div class="lg:px-32 w-full h-full">
                    <div class="w-full h-full relaive bg-no-repeat bg-cover bg-center"
                        style="background-image: url('/static/assets/gleichefoundation_banner.jpg')" s>
                        <div class="w-full h-full absolue inset-0 bg-black/50 flex items-center justify-center">
                            <div class="flex flex-col items-center gap-6">
                                <h6 class="text-3xl md:text-4xl lg:text-6xl text-white font-patrick-hand text-center">
                                    Welcome to Gleiche foundation</h6>
                                <p class="text-white text-xl md-text-2xl lg:text-3xl text-center">We all have equal
                                    potentials</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="swiper-pagination"></div>
    </div>
</div>