<div>
    <div class="swiper mySwiper h-96 lg:h-screen ">
        <div class="swiper-button-next text-sm text-secondary"></div>
        <div class="swiper-button-prev text-secondary"></div>
        <div class="swiper-pagination"></div>

        <div>

        </div>
        <div class="swiper-wrapper ">

            <div class="swiper-slide">
                {% include 'frontend/components/slide_item.html' %}
            </div>

            {% for item in slides %}
            <div class="swiper-slide">
                {% include 'frontend/components/slide_item.html' with item=item %}

            </div>
            {% endfor %}
        </div>
        <div class="swiper-pagination"></div>
    </div>
</div>