<div class="fixed bottom-0 left-0 bg-secondary w-full h-7 md:h-10 z-40 overflow-hidden flex items-center">

    <div class="whitespace-nowrap inline-block m-scroll">
        {% for item in '012345678'|make_list %}
        <span class="inline-flex items-center text-sm md:text-base">
            <span class="mr-3">Beleive in yourself there is no limit to what you can achieve</span>
            <span class="text-primary">- Mr.Arc</span>
            <span class="mx-3">|</span>
        </span>
        {% endfor %}
    </div>


</div>