{% load static %}
<div class="bg-white pb-12">
    <div class="container flex flex-col justify-center items-center ">

        <div class="w-full lg:w-3/6 mx-auto py-6 md:py-12 flex flex-col items-center gap-6">
            <div class="flex flex-col items-center gap-3">
                <span class="font-patrick-hand text-3xl md:text-4xl lg:text-5xl">Our Sponsors</span>
                <div class="w-24 h-1 bg-primary rounded-md"></div>
            </div>
            <p class="text-center text-sm md:text-base lg:text-lg text-secondary">
                Meet Our sponsors
        </div>

        <div class="w-full">
            <div class="swiper VolunteerSwiper">
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination"></div>
                <div class="swiper-wrapper">

                    {% for item in sponsors %}
                    <div class="swiper-slide">
                        {% include 'frontend/components/sponsor_item.html' with item=item  %}
                    </div>
                    {% endfor %}

                </div>
                <div class="swiper-pagination"></div>
            </div>


        </div>

    </div>
</div>