{% load static %}
<div class="bg-gray-200   bg-no-repeat bg-cover bg-center bg-fixed relative"
    style="background-image: url('/static/assets/happy2.jpeg')">
    <div class="bg-primary/30 pb-12">
        <div class=" container flex flex-col justify-center items-center ">

            <div class="w-full lg:w-3/6 mx-auto py-6 md:py-12 flex flex-col items-center gap-6">
                <div class="flex flex-col items-center gap-3">
                    <span class="font-patrick-hand text-3xl md:text-4xl lg:text-5xl text-white">What People Say</span>
                    <div class="w-24 h-1 bg-primary rounded-md"></div>
                </div>
                <p class="text-center text-sm md:text-base lg:text-lg text-white">
                    Testimonial
            </div>

            <div class="w-full">
                <div class="swiper TestimonialSwiper">
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-pagination"></div>
                    <div class="swiper-wrapper">
                    
                        <div class="swiper-slide">
                            <div>
                                <div class="bg-white rounded-lg p-6">
                                    <div class="flex items-center space-x-3 mb-4">
                                        <img class="h-20 w-20 object-cover object-center rounded-full"
                                            src="https://images.unsplash.com/flagged/photo-1570612861542-284f4c12e75f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80"
                                            alt="photo">
                                        <div>
                                            <p class="text-base md:text-lg text-gray-700 font-normal mb-1">Richard Afoudo</p>
                                            <p class="text-sm xl:text-base text-primary font-normal">Software Engineer</p>
                                        </div>
                                    </div>
                                    <div>
                                        <p class="text-gray-400 leading-loose font-normal text-sm md:text-base">Lorem ipsum dolor
                                            sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div>
                                <div class="bg-white rounded-lg p-6">
                                    <div class="flex items-center space-x-3 mb-4">
                                        <img class="h-20 w-20 object-cover object-center rounded-full"
                                            src="https://images.unsplash.com/flagged/photo-1570612861542-284f4c12e75f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80"
                                            alt="photo">
                                        <div>
                                            <p class="text-base md:text-lg text-gray-700 font-normal mb-1">Richard Afoudo</p>
                                            <p class="text-sm xl:text-base text-primary font-normal">Software Engineer</p>
                                        </div>
                                    </div>
                                    <div>
                                        <p class="text-gray-400 leading-loose font-normal text-sm md:text-base">Lorem ipsum dolor
                                            sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div>
                                <div class="bg-white rounded-lg p-6">
                                    <div class="flex items-center space-x-3 mb-4">
                                        <img class="h-20 w-20 object-cover object-center rounded-full"
                                            src="https://images.unsplash.com/flagged/photo-1570612861542-284f4c12e75f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80"
                                            alt="photo">
                                        <div>
                                            <p class="text-base md:text-lg text-gray-700 font-normal mb-1">Richard Afoudo</p>
                                            <p class="text-sm xl:text-base text-primary font-normal">Software Engineer</p>
                                        </div>
                                    </div>
                                    <div>
                                        <p class="text-gray-400 leading-loose font-normal text-sm md:text-base">Lorem ipsum dolor
                                            sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="swiper-pagination"></div>
                </div>


            </div>


        </div>
    </div>
</div>